<div class="card shadow-sm">
    <div class="card-body">
        <div class="card-title">
            <h5>
                <span>{{ proof.presentation_request.name }}</span>
                {{#if proof.presentation_request.version}}
                    <span>&nbsp;({{ proof.presentation_request.version }})</span>
                {{/if}}
            </h5>
            <small>
                {{#eq proof.initiator 'self'}}
                    <span>Sent&nbsp;</span>
                {{/eq}}
                {{#eq proof.initiator 'external'}}
                    <span>Received&nbsp;</span>
                {{/eq}}
            </small>
            <small class="text-muted">{{ proof.created_at }}</small>
        </div>
        <div class="card-text">
            <div>
                <small class="text-muted">Presentation Exchange ID:&nbsp;</small>
                <p>{{ proof.presentation_exchange_id }}</p>
            </div>
            {{#eq proof.verified 'true'}}
            <div>
                <span>
                    <i class="fas fa-check"></i>
                </span>
                &nbsp;
                <span>Verified</span>
            </div>
            {{/eq}}
        </div>
    </div>
    <div class="card-footer">
        <p class="card-text">
            <small class="text-muted">Updated at {{ proof.updated_at }}</small>
        </p>
    </div>
</div>